# Most Popular Movie by Directors

Second, to see which director had the most popular movie, I merged the Disney-director dataset with the disney_movies_total_gross dataset and used the inner join, which returned only the rows in both data frames. From there, I sorted the movies by the total gross box office and the inflation-adjusted gross.

Let's check out my analysis step by step.

In [1]:
# Lets import all the required libraries needed for the analysis
import altair as alt
import pandas as pd

# import all the required files
gross = pd.read_csv("data/disney_movies_total_gross.csv")
directors = pd.read_csv("data/disney-director.csv")

In [2]:
# convert the total_gross column from object to float
gross= gross.assign(total_gross = gross['total_gross'].replace( '[\$,)]','', regex=True ).astype(float))
gross.head()

,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,"Dec 21, 1937",Musical,G,184925485.0,"$5,228,953,251"
1,Pinocchio,"Feb 9, 1940",Adventure,G,84300000.0,"$2,188,229,052"
2,Fantasia,"Nov 13, 1940",Musical,G,83320000.0,"$2,187,090,808"
3,Song of the South,"Nov 12, 1946",Adventure,G,65000000.0,"$1,078,510,579"
4,Cinderella,"Feb 15, 1950",Drama,G,85000000.0,"$920,608,730"

In [3]:
gross = gross.assign(inflation_adjusted_gross = gross['inflation_adjusted_gross'].replace( '[\$,)]','', regex=True ).astype(float))
gross.head()

,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,"Dec 21, 1937",Musical,G,184925485.0,5.228953e+09
1,Pinocchio,"Feb 9, 1940",Adventure,G,84300000.0,2.188229e+09
2,Fantasia,"Nov 13, 1940",Musical,G,83320000.0,2.187091e+09
3,Song of the South,"Nov 12, 1946",Adventure,G,65000000.0,1.078511e+09
4,Cinderella,"Feb 15, 1950",Drama,G,85000000.0,9.206087e+08

I used the following python codes to merge the two files.

```python
gross_directors = directors.merge(gross, left_on='name', right_on='movie_title', how='inner')
```

In [4]:
# merge the disney-director file with the disney_movies_total_gross file 
gross_directors = directors.merge(gross, left_on='name', right_on='movie_title', how='inner')
gross_directors.head()

,name,director,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,David Hand,Snow White and the Seven Dwarfs,"Dec 21, 1937",Musical,G,184925485.0,5.228953e+09
1,Pinocchio,Ben Sharpsteen,Pinocchio,"Feb 9, 1940",Adventure,G,84300000.0,2.188229e+09
2,Fantasia,full credits,Fantasia,"Nov 13, 1940",Musical,G,83320000.0,2.187091e+09
3,Cinderella,Wilfred Jackson,Cinderella,"Feb 15, 1950",Drama,G,85000000.0,9.206087e+08
4,Cinderella,Wilfred Jackson,Cinderella,"Mar 13, 2015",Drama,PG,201151353.0,2.011514e+08

In [5]:
# drop the duplicated column
gross_directors = gross_directors.drop(columns = ['name'])
gross_directors.head()

,director,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross
0,David Hand,Snow White and the Seven Dwarfs,"Dec 21, 1937",Musical,G,184925485.0,5.228953e+09
1,Ben Sharpsteen,Pinocchio,"Feb 9, 1940",Adventure,G,84300000.0,2.188229e+09
2,full credits,Fantasia,"Nov 13, 1940",Musical,G,83320000.0,2.187091e+09
3,Wilfred Jackson,Cinderella,"Feb 15, 1950",Drama,G,85000000.0,9.206087e+08
4,Wilfred Jackson,Cinderella,"Mar 13, 2015",Drama,PG,201151353.0,2.011514e+08

In [6]:
# sort the top five values of the total gross, reset index and drop the original index column
top_5_movies_gross = gross_directors.sort_values(by='total_gross', ascending=False).reset_index().loc[0:4].drop(columns=['index'])
top_5_movies_gross

,director,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross
0,Roger Allers,The Lion King,"Jun 15, 1994",Adventure,G,422780140.0,761640898.0
1,Chris Buck,Frozen,"Nov 22, 2013",Adventure,PG,400738009.0,414997174.0
2,Wolfgang Reitherman,The Jungle Book,"Apr 15, 2016",Adventure,PG,364001123.0,364001123.0
3,Byron Howard,Zootopia,"Mar 4, 2016",Adventure,PG,341268248.0,341268248.0
4,Clyde Geronimi,Alice in Wonderland,"Mar 5, 2010",Adventure,PG,334191110.0,357063499.0

In [7]:
# Visualize the top 5 movies with the highest total gross box office using a bar plot
top_5_moives_gross_plot = (alt.Chart(top_5_movies_gross, width=300, height=300)
    .mark_bar(color='blue', opacity=0.5)
    .encode(
        x=alt.X("movie_title:N", title="Movie_Title", sort="-y"),
        y=alt.Y("total_gross:Q", title="Total_Gross_Boxoffice"),
    )
    .properties(title="Top_5_Moives_Gross")
)
top_5_moives_gross_plot

C:\Users\zengm\miniconda3\lib\site-packages\altair\utils\core.py:317: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_name, dtype in df.dtypes.iteritems():

alt.Chart(...)

How much more total gross revenue did the Lion King make than Frozen after the inflation adjusted?

$761640898.0$ $- 414997174.0$ = $346643724.0$

```{math}
:label: subtract_label1
a-b = c
```
Equation {eq}`subtract_label1` is to calculate the difference between two values.

{numref}`rogerallrs-figure` is one of the two Directors of the Lion King {cite:p}`Allers`.

```{figure} https://upload.wikimedia.org/wikipedia/commons/a/ae/Roger_Allers%2C_34th_Annie_Awards%2C_2007.jpg
---
height: 300px
name: rogerallrs-figure
---
Roger Allers
```

I used the following python codes to sort the ranking.

```python
top_5_movies_inflat = gross_directors.sort_values(by='inflation_adjusted_gross', ascending=False).reset_index().drop(columns=['index']).loc[0:4]
```

In [8]:
# Sort the top 5 movies with the highest inflation_adjusted total gross box office, reset index and drop the original index column
top_5_movies_inflat = gross_directors.sort_values(by='inflation_adjusted_gross', ascending=False).reset_index().drop(columns=['index']).loc[0:4]
top_5_movies_inflat

,director,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross
0,David Hand,Snow White and the Seven Dwarfs,"Dec 21, 1937",Musical,G,184925485.0,5.228953e+09
1,Ben Sharpsteen,Pinocchio,"Feb 9, 1940",Adventure,G,84300000.0,2.188229e+09
2,full credits,Fantasia,"Nov 13, 1940",Musical,G,83320000.0,2.187091e+09
3,Wolfgang Reitherman,101 Dalmatians,"Jan 25, 1961",Comedy,G,153000000.0,1.362871e+09
4,Hamilton Luske,Lady and the Tramp,"Jun 22, 1955",Drama,G,93600000.0,1.236036e+09

How much more total gross revenue did the Snow White and the Seven Dwarfs make than Pinocchio?

$184925485.0$ $- 84300000.0$ = $100625485.0$

```{math}
:label: subtract_label2
a-b = c
```
Equation {eq}`subtract_label2` is to calculate the difference between two values.

In [9]:
# Visualize the top 5 movies with the highest inflation adjusted gross box office receipts using a bar plot.
top_5_moives_inflated_plot = (alt.Chart(top_5_movies_inflat, width=300, height=300)
    .mark_circle(color='blue', size=300)
    .encode(
        x=alt.X("movie_title:N", title="Movie_Title", sort="-y"),
        y=alt.Y("inflation_adjusted_gross:Q", title="Total_Gross_Inflated_Boxoffice"),
    )
    .properties(title="Top_5_Moives_Gross_Inflated")
)
top_5_moives_inflated_plot

C:\Users\zengm\miniconda3\lib\site-packages\altair\utils\core.py:317: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_name, dtype in df.dtypes.iteritems():

alt.Chart(...)

{numref}`davidhand-figure` is the Director of Snow White and the Seven Dwarfs {cite:p}`Hand`.

```{figure} https://d23.com/app/uploads/2015/07/david-hand-feat.jpg
---
height: 300px
name: davidhand-figure
---
David Hand
```